@import 'variable';
@import 'transition';

.badge {
    padding: 0.1rem 0.5rem;
    background: transparent;
    font-weight: 700;
    border-radius: 0.25rem;
    cursor: pointer;
    outline: none;
    text-align: center;
    font-size: 75%;
    text-decoration: none;
    border: 1px solid transparent;
    line-height: 1;
    vertical-align: baseline;
    @include ease-in-out;

    &.badge-pill {
        border-radius: 3rem;
    }

    &.badge-primary {
        background-color: $primary;
        color: $white;

        &:hover {
            background-color: $primary-accent;
        }

        &.active {
            background-color: $primary-accent;

            &:hover {
                background-color: $primary;
            }
        }
    }

    &.badge-secondary {
        background-color: $secondary;
        color: $white;

        &:hover {
            background-color: $secondary-accent;
        }

        &.active {
            background-color: $secondary-accent;

            &:hover {
                background-color: $secondary;
            }
        }
    }

    &.badge-success {
        background-color: $success;
        color: $white;

        &:hover {
            background-color: $success-accent;
        }

        &.active {
            background-color: $success-accent;

            &:hover {
                background-color: $success;
            }
        }
    }

    &.badge-warning {
        background-color: $warning;
        color: $white;

        &:hover {
            background-color: $warning-accent;
        }

        &.active {
            background-color: $warning-accent;

            &:hover {
                background-color: $warning;
            }
        }
    }

    &.badge-danger {
        background-color: $danger;
        color: $white;

        &:hover {
            background-color: $danger-accent;
        }

        &.active {
            background-color: $danger-accent;

            &:hover {
                background-color: $danger;
            }
        }
    }

}