@import 'variable';
@import 'transition';

.btn {
    margin: 0 0.5rem;
    padding: 0.5rem 0.75rem;
    background: transparent;
    font-weight: 700;
    border-radius: 0.25rem;
    cursor: pointer;
    outline: none;
    text-align: center;
    font-size: smaller;
    text-decoration: none;
    border: 1px solid transparent;
    @include btn_hover;

    &.btn-primary {
        background-color: $primary;
        color: whitesmoke;

        &:hover {
            background-color: $primary-hover;
        }

        &.active {
            background-color: $primary-hover;

            &:hover {
                background-color: $primary;
            }
        }
    }

    &.btn-secondary {
        background-color: $secondary;
        color: whitesmoke;

        &:hover {
            background-color: $secondary-hover;
        }

        &.active {
            background-color: $secondary-hover;

            &:hover {
                background-color: $secondary;
            }
        }
    }

    &.btn-success {
        background-color: $success;
        color: whitesmoke;

        &:hover {
            background-color: $success-hover;
        }

        &.active {
            background-color: $success-hover;

            &:hover {
                background-color: $success;
            }
        }
    }

    &.btn-warning {
        background-color: $warning;
        color: whitesmoke;

        &:hover {
            background-color: $warning-hover;
        }

        &.active {
            background-color: $warning-hover;

            &:hover {
                background-color: $warning;
            }
        }
    }

    &.btn-danger {
        background-color: $danger;
        color: whitesmoke;

        &:hover {
            background-color: $danger-hover;
        }

        &.active {
            background-color: $danger-hover;

            &:hover {
                background-color: $danger;
            }
        }
    }

    &.btn-outline-primary {
        color: $primary;
        border-color: $primary;
        background-color: transparent;

        &:hover {
            background-color: $primary;
            color: whitesmoke;
        }

        &.active {
            background-color: $primary;
            color: whitesmoke;

            &:hover {
                background-color: transparent;
                color: $primary;
            }
        }
    }

    &.btn-outline-secondary {
        color: $secondary;
        border-color: $secondary;
        background-color: transparent;

        &:hover {
            background-color: $secondary;
            color: whitesmoke;
        }

        &.active {
            background-color: $secondary;
            color: whitesmoke;

            &:hover {
                background-color: transparent;
                color: $secondary;
            }
        }
    }

    &.btn-outline-success {
        color: $success;
        border-color: $success;
        background-color: transparent;

        &:hover {
            background-color: $success;
            color: whitesmoke;
        }

        &.active {
            background-color: $success;
            color: whitesmoke;

            &:hover {
                background-color: transparent;
                color: $success;
            }
        }
    }

    &.btn-outline-danger {
        color: $danger;
        border-color: $danger;
        background-color: transparent;

        &:hover {
            background-color: $danger;
            color: whitesmoke;
        }

        &.active {
            background-color: $danger;
            color: whitesmoke;

            &:hover {
                background-color: transparent;
                color: $danger;
            }
        }
    }

    &.btn-outline-warning {
        color: $warning;
        border-color: $warning;
        background-color: transparent;

        &:hover {
            background-color: $warning;
            color: whitesmoke
        }

        &.active {
            background-color: $warning;
            color: whitesmoke;

            &:hover {
                background-color: transparent;
                color: $warning;
            }
        }

    }

}