@import 'variable';
@import 'transition';

.btn {
    padding: 0.5rem 10px;
    background: transparent;
    font-weight: 700;
    border-radius: 6px;
    cursor: pointer;
    outline: none;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
    text-decoration: none;
    border: 1px solid transparent;
    @include ease-in-out;

    &.btn-primary {
        background-color: $primary;
        color: $white;

        &:hover {
            background-color: darken($color: $primary, $amount: 10);
        }

        &.active {
            background-color: darken($color: $primary, $amount: 10);

            &:hover {
                background-color: $primary;
            }
        }
    }

    &.btn-secondary {
        background-color: $secondary;
        color: $white;

        &:hover {
            background-color: darken($color: $secondary, $amount: 10);
        }

        &.active {
            background-color: darken($color: $secondary, $amount: 10);

            &:hover {
                background-color: $secondary;
            }
        }
    }

    &.btn-success {
        background-color: $success;
        color: $white;

        &:hover {
            background-color: darken($color: $success, $amount: 10);
        }

        &.active {
            background-color: darken($color: $success, $amount: 10);

            &:hover {
                background-color: $success;
            }
        }
    }

    &.btn-warning {
        background-color: $warning;
        color: $dark;

        &:hover {
            background-color: darken($color: $warning, $amount: 10);
        }

        &.active {
            background-color: darken($color: $warning, $amount: 10);

            &:hover {
                background-color: $warning;
            }
        }
    }

    &.btn-danger {
        background-color: $danger;
        color: $white;

        &:hover {
            background-color: darken($color: $danger, $amount: 10);
        }

        &.active {
            background-color: darken($color: $danger, $amount: 10);

            &:hover {
                background-color: $danger;
            }
        }
    }

    &.btn-outline-primary {
        color: $primary;
        border-color: $primary;
        background-color: transparent;

        &:hover {
            background-color: $primary;
            color: $white;
        }

        &.active {
            background-color: $primary;
            color: $white;

            &:hover {
                background-color: transparent;
                color: $primary;
            }
        }
    }

    &.btn-outline-secondary {
        color: $secondary;
        border-color: $secondary;
        background-color: transparent;

        &:hover {
            background-color: $secondary;
            color: $white;
        }

        &.active {
            background-color: $secondary;
            color: $white;

            &:hover {
                background-color: transparent;
                color: $secondary;
            }
        }
    }

    &.btn-outline-success {
        color: $success;
        border-color: $success;
        background-color: transparent;

        &:hover {
            background-color: $success;
            color: $white;
        }

        &.active {
            background-color: $success;
            color: $white;

            &:hover {
                background-color: transparent;
                color: $success;
            }
        }
    }

    &.btn-outline-danger {
        color: $danger;
        border-color: $danger;
        background-color: transparent;

        &:hover {
            background-color: $danger;
            color: $white;
        }

        &.active {
            background-color: $danger;
            color: $white;

            &:hover {
                background-color: transparent;
                color: $danger;
            }
        }
    }

    &.btn-outline-warning {
        color: $warning;
        border-color: $warning;
        background-color: transparent;

        &:hover {
            background-color: $warning;
            color: $dark;
        }

        &.active {
            background-color: $warning;
            color: $white;

            &:hover {
                background-color: transparent;
                color: $warning;
            }
        }

    }

    &.btn-brand {
        margin: 0.25rem 0.25rem;
        font-size: 16px;
        // padding: 8px 8px;
        color: $white;
        border-bottom: 4px solid transparent;

        &.btn-yt {
            background-color: #c4302b;
            border-bottom-color: darken($color: #c4302b, $amount: 10);

            &:hover {
                background-color: darken($color: #c4302b, $amount: 10);
            }
        }

        &.btn-ig {
            background-color: #A1887F;
            // padding: 8px 10px;
            border-bottom-color: darken($color: #A1887F, $amount: 10);

            &:hover {
                background-color: darken($color: #A1887F, $amount: 10);
            }
        }

        &.btn-tw {
            background-color: #00acee;
            border-bottom-color: darken($color: #00acee, $amount: 10);

            &:hover {
                background-color: darken($color: #00acee, $amount: 10);
            }
        }

        &.btn-fb {
            background-color: #3b5998;
            // padding: 8px 12px;
            border-bottom-color: darken($color: #3b5998, $amount: 10);

            &:hover {
                background-color: darken($color: #3b5998, $amount: 10);
            }
        }

        &.btn-py {
            background-color: #66BB6A;
            // padding: 8px 12px;
            border-bottom-color: darken($color: #66BB6A, $amount: 10);

            &:hover {
                background-color: darken($color: #66BB6A, $amount: 10);
            }
        }
    }
}