* {
  border: 0;
  font-family: 'Montserrat', sans-serif;
}

.btn {
  margin: 0 0.5rem;
  padding: 0.5rem 0.75rem;
  background: transparent;
  font-weight: 700;
  border-radius: 0.25rem;
  cursor: pointer;
  outline: none;
  text-align: center;
  font-size: smaller;
  text-decoration: none;
  border: 1px solid transparent;
  -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}

.btn.btn-primary {
  background-color: #54a0ff;
  color: whitesmoke;
}

.btn.btn-primary:hover {
  background-color: #2e86de;
}

.btn.btn-primary.active {
  background-color: #2e86de;
}

.btn.btn-primary.active:hover {
  background-color: #54a0ff;
}

.btn.btn-secondary {
  background-color: #00d2d3;
  color: whitesmoke;
}

.btn.btn-secondary:hover {
  background-color: #01a3a4;
}

.btn.btn-secondary.active {
  background-color: #01a3a4;
}

.btn.btn-secondary.active:hover {
  background-color: #00d2d3;
}

.btn.btn-success {
  background-color: #1dd1a1;
  color: whitesmoke;
}

.btn.btn-success:hover {
  background-color: #10ac84;
}

.btn.btn-success.active {
  background-color: #10ac84;
}

.btn.btn-success.active:hover {
  background-color: #1dd1a1;
}

.btn.btn-warning {
  background-color: #feca57;
  color: #222f3e;
}

.btn.btn-warning:hover {
  background-color: #ff9f43;
}

.btn.btn-warning.active {
  background-color: #ff9f43;
}

.btn.btn-warning.active:hover {
  background-color: #feca57;
}

.btn.btn-danger {
  background-color: #ff6b6b;
  color: whitesmoke;
}

.btn.btn-danger:hover {
  background-color: #ee5253;
}

.btn.btn-danger.active {
  background-color: #ee5253;
}

.btn.btn-danger.active:hover {
  background-color: #ff6b6b;
}

.btn.btn-outline-primary {
  color: #54a0ff;
  border-color: #54a0ff;
  background-color: transparent;
}

.btn.btn-outline-primary:hover {
  background-color: #54a0ff;
  color: whitesmoke;
}

.btn.btn-outline-primary.active {
  background-color: #54a0ff;
  color: whitesmoke;
}

.btn.btn-outline-primary.active:hover {
  background-color: transparent;
  color: #54a0ff;
}

.btn.btn-outline-secondary {
  color: #00d2d3;
  border-color: #00d2d3;
  background-color: transparent;
}

.btn.btn-outline-secondary:hover {
  background-color: #00d2d3;
  color: whitesmoke;
}

.btn.btn-outline-secondary.active {
  background-color: #00d2d3;
  color: whitesmoke;
}

.btn.btn-outline-secondary.active:hover {
  background-color: transparent;
  color: #00d2d3;
}

.btn.btn-outline-success {
  color: #1dd1a1;
  border-color: #1dd1a1;
  background-color: transparent;
}

.btn.btn-outline-success:hover {
  background-color: #1dd1a1;
  color: whitesmoke;
}

.btn.btn-outline-success.active {
  background-color: #1dd1a1;
  color: whitesmoke;
}

.btn.btn-outline-success.active:hover {
  background-color: transparent;
  color: #1dd1a1;
}

.btn.btn-outline-danger {
  color: #ff6b6b;
  border-color: #ff6b6b;
  background-color: transparent;
}

.btn.btn-outline-danger:hover {
  background-color: #ff6b6b;
  color: whitesmoke;
}

.btn.btn-outline-danger.active {
  background-color: #ff6b6b;
  color: whitesmoke;
}

.btn.btn-outline-danger.active:hover {
  background-color: transparent;
  color: #ff6b6b;
}

.btn.btn-outline-warning {
  color: #feca57;
  border-color: #feca57;
  background-color: transparent;
}

.btn.btn-outline-warning:hover {
  background-color: #feca57;
  color: #222f3e;
}

.btn.btn-outline-warning.active {
  background-color: #feca57;
  color: whitesmoke;
}

.btn.btn-outline-warning.active:hover {
  background-color: transparent;
  color: #feca57;
}
/*# sourceMappingURL=button.css.map */