// @import 'button';
@import 'variable';

* {
    border: 0;
    font-family: 'Montserrat', sans-serif;
}

.text-center {
    text-align: center;
}

.container {
    display: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;

    .col {
        padding: 0.75rem 0;
    }

    &.justify-content-center {
        justify-content: center;
    }
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    &.text-primary {
        color: $primary !important;
    }

    &.text-secondary {
        color: $secondary !important;
    }

    &.text-success {
        color: $success !important;
    }

    &.text-warning {
        color: $warning !important;
    }

    &.text-danger {
        color: $danger !important;
    }

}