// prime
$primary: #54a0ff;
$secondary: #c8d6e5;
$warning: #feca57;
$danger: #ff6b6b;
$success: #1dd1a1;


$background: #ecf0f1;
$dark: #2c3e50;

// accent
$primary-hover: #2e86de;
$secondary-hover: #8395a7;
$warning-hover: #ff9f43;
$danger-hover: #ee5253;
$success-hover: #10ac84;