$primary: #54a0ff;
$secondary: #00d2d3;
$warning: #feca57;
$danger: #ff6b6b;
$success: #1dd1a1;
$background: #c8d6e5;
$dark: #222f3e;
$primary-hover: #2e86de;
$secondary-hover: #01a3a4;
$warning-hover: #ff9f43;
$danger-hover: #ee5253;
$success-hover: #10ac84;